@import "~bootstrap/scss/bootstrap";

body {
	font-family: "Montserrat", cursive;
	font-size: 1.6rem;
	color: var(--font-color);
	background-image: url("");
	background-attachment: fixed;
	background-size: cover;
}

header {
	background-color: rgba(0, 0, 0, 0.9);
}

.hello {
	color: red;
	color: #eebe95;
	/* background: url("./ae.png"); */
}
.navButtons {
	background-color: aqua;
}
